/**
 * Body CSS
 */
html,
body {
  height: 100%; }

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

/**
 * Sidebar CSS
 */
#sidebar {
  background-color: #E57373;
  padding: 15px; }

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px; } }
/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px; } }
.player-wapper {
  width: 100%; }
  .player-wapper iframe {
    max-width: 100% !important;
    width: 100% !important; }

.result-list-wrapper, .play-list-wrapper {
  padding: 10px;
  max-height: 500px;
  overflow: auto; }
  .result-list-wrapper ul, .play-list-wrapper ul {
    padding: 0px; }
  .result-list-wrapper .result-item, .play-list-wrapper .result-item {
    display: block;
    height: 75px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
    .result-list-wrapper .result-item img, .play-list-wrapper .result-item img {
      float: left;
      width: 100px;
      height: 75px; }
    .result-list-wrapper .result-item .summary, .play-list-wrapper .result-item .summary {
      margin-left: 100px;
      padding-left: 10px;
      margin-right: 50px;
      padding: 10px; }
      .result-list-wrapper .result-item .summary a, .play-list-wrapper .result-item .summary a {
        color: black;
        text-overflow: ellipsis; }
        .result-list-wrapper .result-item .summary a:hover, .play-list-wrapper .result-item .summary a:hover {
          cursor: pointer; }
    .result-list-wrapper .result-item .btn-add-wrapper, .play-list-wrapper .result-item .btn-add-wrapper {
      position: absolute;
      float: right;
      width: 50px;
      right: 10px;
      top: 0px;
      height: 75px;
      padding-top: 15px; }
      .result-list-wrapper .result-item .btn-add-wrapper button, .play-list-wrapper .result-item .btn-add-wrapper button {
        margin-left: auto;
        margin-right: auto; }
