<!DOCTYPE html>
<html lang="ko" ng-app="woofer">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>우퍼</title>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- Bootstrap Core CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.5/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.5/angular/mui-angular.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-resource.js"></script>
    <script src="/woofer.config.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/components/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>

    <script src="/woofer.api.js"></script>
    <script src="/app.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>


<div id="wrapper">

  <div id="header" ng-controller="roomCtrl">
    <div class="mui--text-light mui--text-title mui--align-vertical">woofer</div>
    <form mui-form-inline>
      <mui-input ng-model="room" hint="team"></mui-input>
      <mui-button size="small" variant="raised" ng-click="join()">참여하기</mui-button>
    </form>
    <!-- <mui-input ng-model="room" label="방이름" ng-blur="joinRoom()"></mui-input> -->
  </div>
  <div id="content" class="mui-container-fluid">
    <!-- blog posts go here -->

    <div class="mui-row">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <br>
        <br>
        <div class="mui--text-dark-secondary mui--text-body2">재생중인 음악</div>
        <div class="mui-divider"></div>
        <br>
        <!-- blog goes here -->
        <div ng-controller="youtubeCtrl">
          <div class='player-wapper'>
              <youtube-video video-id="youtube_id" player-vars="playerVars" player="bestPlayer"></youtube-video>
          </div>
          <br>
          <mui-container fluid class="player-controller">
            <mui-row>
              <mui-col xs="4" md="4"><div class="btn">{{'<<'}}</div></mui-col>
              <mui-col xs="4" md="4"><div ng-class="shuffleModeClass()" ng-click="toggleSuffleMode()">{{' '}}</div></mui-col>
              <mui-col xs="4" md="4"><div class="btn">{{'>>'}}</div></mui-col>
            </mui-row>
          </mui-container>
          <br>
          <br>
          <!-- blog goes here -->
          <mui-col xs="12" md="6">

            <div class="mui--text-dark-secondary mui--text-body2">Play List</div>
            <div class="mui-divider"></div>

            <div class="play-list-wrapper">
              <ul>
                <li class="result-item" data-ng-repeat="item in playlist track by $index">
                  <img data-ng-src="{{item.snippet.thumbnails.default.url}}">
                  <div class='summary' ng-click="reqPlay($index)">
                    <a>
                      {{item.snippet.title}}
                    </a>
                  </div>
                  <div class="btn-add-wrapper">
                    <mui-button size="small" color="accent" ng-click="del($index)">-</mui-button>
                  </div>
                </li>
              </ul>
            </div>
          </mui-col>
        </div>


        <mui-col xs="12" md="6">
          <div class="mui--text-dark-secondary mui--text-body2">검색결과</div>

          <div class="mui-divider"></div>

          <div class="searh-wrapper" ng-controller="searchCtrl">
            <form mui-form-inline>
              <mui-input ng-model="query" hint="검색어"></mui-input>
              <mui-button size="small" variant="raised" ng-click="search()">Submit</mui-button>
            </form>

            <div class='result-list-wrapper'>
              <ul>
                <li class="result-item" data-ng-repeat="item in resultList">
                  <img data-ng-src="{{item.snippet.thumbnails.default.url}}">
                  <div class='summary' ng-click="play(item)">
                    <a>
                      {{item.snippet.title}}
                    </a>
                  </div>
                  <div class="btn-add-wrapper">
                    <!-- <mui-button size="small" color="primary" variant="fab" ng-click="add(item)">+</mui-button> -->
                    <mui-button size="small" color="primary" ng-click="add(item)">+</mui-button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </mui-col>
        <br>
        <!-- blog goes here -->
      </div>
    </div>

  </div>



  <!-- <div id="page-wrapper" ng-view>
  </div> -->


</div>

</body>

</html>
