<!DOCTYPE html>
<html lang="ko" ng-app="wopper">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>우퍼</title>


    <!-- Bootstrap Core CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.5/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.5/angular/mui-angular.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-resource.js"></script>

    <script src="/wopper.api.js"></script>
    <script src="/app.js"></script>

</head>

<body>

<div id="wrapper">


<div id="page-wrapper" ng-view>
</div>


</div>

</body>

</html>
